@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  text-align: center;
}

header {
  background-color: #fff;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}

form {
  display: flex;
  flex: auto;
  justify-content: center;
  margin-bottom: 10px;
}

form span {
  display: block;
}

.svg-container {
  margin-top: 120px;
  width: 100%;
}

.highlight {
  fill: green !important;
}

.hidden {
  display: none;
}
